body {
    font-family: var(--one-font-family);
    color: var(--one-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--one-backgraund-color);
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
}

.padding {
    padding-bottom: 94px;
}


